
.ResetPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 243, 243);
  }
  
  .ResetPassword-Image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ResetPassword-Image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .Resetpassword-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ResetPassword-Box {
    padding: 50px;
    padding-top:8%;
    background-color: rgb(244, 245, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 50%;
    height: 50vh;
  }
  
  .ResetPassword-Box form {
    margin-top: 20px;
  }
  
  .ResetPassword-Box form input[type="password"],
  .ResetPassword-Box form button {
    width: calc(100% - 20px);
    margin-bottom: 18px;
  }
  
  .ResetPassword-Box form input[type="email"],
  .ResetPassword-Box form input[type="password"],
  .ResetPassword-Box form input[type="text"]
  {
    height: 18px;
    border: 1px solid white; /* Set the border color to white */
    border-radius: 5px;
    padding: 8px;
  }
  
  .ResetPassword-Box form button {
    height: 38px;
    border: 1px solid rgb(15, 15, 161);
    color: rgb(211, 211, 211);
    background-color: rgb(15, 15, 161);
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .link-btn {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size:10px;
    font-weight: 700;
  }
  
  .register-link {
    margin-top: 2px;
    font-size: 10px;
    color: rgb(72, 59, 255);
    cursor: pointer;
    font-weight: 700;
  }
  img {
    width: 400px; /* Sets the width to 200 pixels */
    height: auto;
    /* transform: scaleX(-1);Automatically adjusts the height to maintain aspect ratio */
  }
  .Header-Text{
    color: rgb(15, 15, 161);
    font-size: 22px;
    font-weight: 820;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 14px;
    margin-top: 0;
  }
  .ResetPassword-Box form label {
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
    color:rgb(65, 65, 65);
    font-size: 11px;
    font-weight: 700;
  }
  /* #Forgot{
    text-align: left;
  } */

  .Resetimage{
    transform: scaleX(-1);
  }