.Balance{
    margin-top: 5px;
    padding: 20px;
}
.message-Balance {
    padding-top: 15px;
    height: 96px;
    width: 100px;
    text-align: right;
}

.message-BalanceText {
    color: #3B4AB4;
    font-size: 30px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 700;
}
.username-Balance{
    color: #3B4AB4;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 27.1px;
    font-weight: 600;
    margin-right: 100px; /* Adjust as needed */
    width: 150px;
}
.text{
    color: #3B4AB4;
    font-size: 22px;
    font-family: "Inter-SemiBold", Helvetica;
    left:0;
}
.wallet-balances{
    display: flex;
    color: #686464;
    font-size: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 500;
    margin-right: 100px; /* Adjust as needed */
    margin-top: 20px;
}