.Checkotp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

.checkotp-Image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkotp-Image-container img {
    max-width: 100%;
    max-height: 100%;
}

.Checkotp-Box {
    padding: 50px;
    background-color: rgb(244, 245, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 70%;
    min-height: 50vh; /* Change height to min-height */
    transition: min-height 0.5s ease; /* Add transition for smooth height change */
}

.error-message {
    color: red;
    margin-top: 10px;
}

.error-message + p {
    margin-top: 20px; /* Increase margin to provide space for the error message */
}

.Checkotp-form-container form {
    margin-top: 20px;
}

.Checkotp-form-container input[type="text"],
.Checkotp-form-container button {
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

.Checkotp-form-container input[type="text"] {
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}

.Checkotp-form-container button {
    height: 40px;
    border: 1px solid rgb(15, 15, 167);
    color: rgb(211, 211, 211);
    background-color: rgb(15, 15, 167);
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


.link-btn {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
}

.register-link {
    margin-top: 5px;
    font-size: 10px;
    color: rgb(72, 59, 255);
    cursor: pointer;
    font-weight: 700;
}

.Header-Text {
    color: rgb(15, 15, 161);
    font-size: 25px;
    font-weight: 850;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
}

.Checkotp-form-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: rgb(148, 148, 148);
    font-size: 11px;
    font-weight: 700;
}

