.difficulty-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.difficulty-title {
  text-align: left;
  height:14px;
  width:104px;
  letter-spacing: 0.24px;
  line-height:17.4px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter-Medium', Helvetica;
}

.difficulty-box-container {
  width: 30%;
  margin-right: 20px;
}

.difficulty-box {
  border: 1px solid #ccc;
  padding: 13px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 4px 4px 15px #00000040;
  background-color: #f4f4f4;
  height: 200px;
  border-color: #c6c6c6;
  
}
.difficulty-buttons::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.difficulty-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content:  flex-start;
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto;
  overflow-x: hidden; 
  gap: 10px;

}
.difficulty-buttons .button-container {
  position: relative;
  margin-bottom: 10px;
}


.difficulty-buttons .difficulty-button {
  border: none;
  justify-content: center;
  padding: 2px 4px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background: linear-gradient(180deg, rgba(77.35, 77.35,77.35, 0.2) 0%, rgba(202.3, 202.3, 202.3, 0.2) 100%);
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #ffffff99, inset 1.61px -1.61px 1.61px #75757599;
  height: 35px;
  position: relative;
  width: 35px;
  color:#000000;
  font-size: 15px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770; 
}

.difficulty-buttons .difficulty-button:hover {
  background-color: #e9ecef;
  color: #000;
}


.button-row {
    display: flex;
    justify-content: flex-start;
    gap: 17px;
    flex-wrap: wrap;
}
.puzzle-details {
  display: flex;
  padding-top: 15px;
  height: 300px;
}

.question-container,
.video-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.video-container {
  width: 40%;
  margin-right: 40px;
  border-radius: 8px;
}

.question-container {
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 8px;
  
}

.question-container h2 {
  text-align: center;
  font-size: small;
}

.react-player {
  width: 100%; 
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.question-container,
.video-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.video-container {
  width: 40%;
  margin-right: 40px;
  border-radius: 8px;
}

.question-container {
  position: relative;
  width: 50%;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 8px;
}

.question-Name {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.question-Name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 11px;
  font-weight: bold;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.question-Name,
.question-code {
  font-size: small; /* Adjust font size as needed */
  font-weight: bold;
}

.question-Box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eeecec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 99.5%;
  height: 85%;
  margin-top: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow-y: auto;
  position: relative; /* Set position to relative */
}
.question-Box::-webkit-scrollbar {
  width: 3px;
  height: 100%;
}

.question-Box::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(27, 27, 27, 0.3);
  height:20px;
}

.question-Box::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #7c7c7c; 
  height:20px;
}

.question-Box::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c; /* Thumb color on hover */
}
.question-heading {
  width: 100px;
  height: 23px;
  border-radius: 5px;
  margin-top: 0;
  font-size: small;
  color: white;
  background: linear-gradient(90deg, #1c2b99 0.08%, #EEE 103.47%);
  position: absolute; /* Set position to absolute */
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}
.question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-question {
  margin-top: 15px;
  font-size: 12px;
  font-family: "Acme-Regular", Helvetica;
  justify-content: flex-start; /* Align content to start from the left */
  text-align: left; /* Ensure text starts from the left */
  margin-left: 10px;
}
.question-code {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Acme-Regular", Helvetica;
  justify-content: flex-start; /* Align content to start from the left */
  text-align: left; /* Ensure text starts from the left */
}
/* Easy Level */
.difficulty-buttons .difficulty-button.current-easy {
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background-color: #66ff096b;
  border: 2px solid;
  border-color: #349407;
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #ffffff99, inset 1.61px -1.61px 1.61px #75757599;
  height: 35px;
  position: relative;
  width: 35px;
  color:black;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

.difficulty-buttons .difficulty-button.completed-easy {
  background: linear-gradient(180deg, rgb(69.19, 161.06, 12.88) 0%, rgb(189.13, 255, 148.75) 100%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 38.36px;
  box-shadow: inset 5.22e-16px 8.52px 8.52px #5bd70f, inset -5.22e-16px -8.52px 8.52px #608946;
  height: 35px;
  position: relative;
  width: 35px;
  color:white;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

/* Medium Level */
.difficulty-buttons .difficulty-button.current-medium {
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background-color: #ca97ff;
  border: 2px solid;
  border-color: #8a15ff;
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #ffffff99, inset 1.61px -1.61px 1.61px #75757599;
  height: 35px;
  position: relative;
  width: 35px;
  color:black;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

.difficulty-buttons .difficulty-button.completed-medium {
  background: linear-gradient(180deg, rgb(138.3, 21.6, 255) 0%, rgb(215.31, 175.95, 255) 100%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 38.36px;
  box-shadow: inset 5.22e-16px 8.52px 8.52px #d2a5ff, inset -5.22e-16px -8.52px 8.52px #7e55a7;
  height: 35px;
  position: relative;
  width: 35px;
  color:white;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

/* Hard Level */
.difficulty-buttons .difficulty-button.current-hard {
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background-color: #fe5f5f82;
  border: 2px solid;
  border-color: #ff0404;
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #ffffff99, inset 1.61px -1.61px 1.61px #75757599;
  height: 35px;
  position: relative;
  width: 35px;
  color:black;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

.difficulty-buttons .difficulty-button.completed-hard {
  background: linear-gradient(180deg, rgb(223.11, 45.04, 5.95) 0%, rgb(255, 180, 175.95) 100%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 38.36px;
  box-shadow: inset 5.22e-16px 8.52px 8.52px #ffa497, inset -5.22e-16px -8.52px 8.52px #de381e;
  height: 35px;
  position: relative;
  width: 35px;
  color:white;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;
}

/* Incompleted Puzzle Buttons */
.difficulty-buttons .difficulty-button.incompleted {
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background: linear-gradient(180deg, rgba(255, 137.7, 0, 0.7) 0%, rgba(255, 214.74, 3.4, 0.7) 100%);
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #f49f1f, inset 1.61px -1.61px 1.61px #d58e24;
  height: 35px;
  position: relative;
  width: 35px;
  color:white;
  font-size: 14px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 500;
}
.difficulty-buttons .difficulty-button.notstarted {
  -webkit-backdrop-filter: blur(48.36px) brightness(100%);
  backdrop-filter: blur(48.36px) brightness(100%);
  background: linear-gradient(180deg, rgba(77.35, 77.35,77.35, 0.2) 0%, rgba(202.3, 202.3, 202.3, 0.2) 100%);
  border-radius: 48.36px;
  box-shadow: inset -1.61px 1.61px 1.61px #ffffff99, inset 1.61px -1.61px 1.61px #75757599;
  height: 35px;
  position: relative;
  width: 35px;
  color:#000000;
  font-size: 15px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 770;  
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 194, 194, 0.7); /* Semi-transparent black overlay for the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup appears above other content */
}

.popup {
  width: 645px;
  height: 276px;
  border:2px solid;
  background-color: #fefeff;
  border-radius: 10px;
  border-color:#c4c4c4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Box shadow for the popup */
}

.popup-content {
  padding: 20px;
  padding-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

.close-button {
  background-color: #3F4DB6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: darkblue;
}


.buy-button{
  background-color: #3F4DB6;
  color: white;
  height: fit-content;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.close-button:hover {
  background-color: darkblue;
}
.close-popup {
  position: absolute;
  margin-top: 5px;
  margin-left: 16%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.close-popup:hover {
  color: #666;
  background-color: transparent;
}


.pop-text{
  color: #000000;
  font-family: "Poppins-semiBold",Helvetica;
  font-size: 15px;
  font-weight: 600;
}
.lock-icom img{
  width: 10px;
  height:10px;
}
.lock-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px; /* Adjust the size of the lock icon as needed */
  height: 10px;
}
@media screen and (max-width: 768px) {
  .difficulty-box-container {
    width: 100%; /* Adjust the width to fit the entire container */
    height: auto; /* Let the height adjust automatically */
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 20px; /* Add some bottom margin */
  }

  .button-container {
    width: 50%; /* Each container takes up 50% of the width */
    margin-bottom: 10px; /* Add margin between rows */

  }
}