.dashboard-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 40px; /* Adjust as needed */
}

/* .pie-container {
  /* margin-bottom: 20px; Adjust as needed */


.box-structure {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.linechart,
.tasklevel {
  width: calc(50% - 10px); /* Adjust as needed */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .linechart,
  .tasklevel {
    width: 100%;
  }
}
