/* Login.css */

.ForgotPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

.Forgotpassord-Image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Forgotpassord-Image-container img {
  max-width: 100%;
  max-height: 100%;
}

.ForgotPassword-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Forgot-box {
  padding: 50px;
  background-color: rgb(244, 245, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 70%;
  height: 50vh;
}

.Forgot-box form {
  margin-top: 20px;
}

.Forgot-box form input[type="email"],
.Forgot-box form button {
  width: calc(100% - 20px);
  margin-bottom: 20px;
}

.Forgot-box form input[type="email"] {
  height: 20px;
  border: 1px solid white; /* Set the border color to white */
  border-radius: 5px;
  padding: 8px;
}

.Forgot-box form button {
  height: 40px;
  border: 1px solid rgb(15, 15, 167);
  color: rgb(211, 211, 211);
  background-color: rgb(15, 15, 167);
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-top: 18px ;
}

.error-message {
  color: red;
  margin-top: 10px;
}
img {
  width: 400px; /* Sets the width to 200 pixels */
  height: auto; /* Automatically adjusts the height to maintain aspect ratio */
}
.Header-Login-Text{
  color: rgb(15, 15, 161);
  font-size: 25px;
  font-weight: 850;
  font-family: 'Poppins',sans-serif;
  margin-bottom: 20px;
  margin-top: 0;
}
.Forgot-box form label {
  display: block;
  text-align: left; 
  margin-bottom: 5px; 
  margin-top: 20px;
  color:rgb(148, 148, 148);
  font-size: 11px;
  font-weight: 700;
}
/* #Forgot{
  text-align: left;
} */
.Text{
  color: rgb(68, 68, 68);
  font-size: 10px;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
}