.wallet-container {
    margin-top: 5px;
    padding: 20px;
}

.wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    width: 1025px;
    border-radius: 10px;
    background-color: #D3D8F9;
    margin-left: 30px;
}
.wallet-balance img{
    height: 20px;
    width: 20px;
}

.prof-image img {
    height: 90px;
    width: 90px;
    border-radius: 48.91%;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-subdetails {
    display: flex;
    margin-left: 10px;
}

.username {
    color: #3B4AB4;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    margin-right: 100px; /* Adjust as needed */
}
.subscription{
    display: flex;
    color: #686464;
    font-size: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 500;
    margin-right: 90px;
    flex-direction: column;
    margin-top: 7px;

}

.wallet-balance {
    display: flex;
    align-items: center; /* Align items vertically */
    color: #686464;
    font-size: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 500;
    margin-right: 60px;
}
.separate-line{
    /* display: flex; */
    border-left: 4px solid #a09f9f; /* Add left border */
    width: 0;
    border-radius: 10px;
    height: 70px; /* Adjust height as needed */
    margin: 0 20px; /* Add margin for spacing */
}
.wallet-details {
    display: flex;
    flex-direction: column; /* Content inside wallet details as column */
    margin-left: 10px; /* Adjust spacing between icon and details */
  }
  
.wallet-text {
    color: #3b4ab4;
    width: 100px;
    font-size: 15px;
    font-family: "Inter-SemiBold", Helvetica;
}

.message-con {
    padding-top: 15px;
    height: 96px;
    width: 150px;
    text-align: right;
    margin-right: 100px;
}

.message {
    color: #3B4AB4;
    font-size: 30px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 700;
    text-align: right;
}

.subscription-plans {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.plan {
    width: 30%;
    height: 40  0px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.price-text{
    color: #807878;
    font-size: 15px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 300;
}
.price{
    color: #030303;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
}
.plan-text{
    color: #3B4AB4;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 23px;
    font-weight: 600;
}

.plan button {
    margin-top: 10px;
}
.benefits{
    width:270px;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    line-height: 30px;


}
.benefit {
    display: flex; 
    align-items: center; 
  }
  .benefit p {
  margin: 6px; /* Remove default margin for <p> element */
}