.tasks-levels-container {
  width: calc(100vw - 200px);
  height: 100vh;
  /* overflow: hidden; */
}
.tasks-levels-container .tasklevels-button-container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.tasks-levels-container .tasklevels-button-container::-webkit-scrollbar {
  display: none;
}

.tasks-levels-container .tasklevels-button-container button {
  margin-right: 10px;
}
.task-button-levels{
  border-radius: 47.656px;
  padding: 5.266px 14.348px 6.748px 16.361px;
  border: 0.853px solid #B9B9B9;
  justify-content: center;
  background: rgba(132, 128, 187, 0.15);
  box-shadow: 3.413px 3.413px 12.8px 0px rgba(234, 234, 234, 0.27), -1.312px -1.749px 3.06px 0px rgba(255, 255, 255, 0.15) inset;
  color: #6A6A6A;
  text-shadow: 0.437px 0.437px 0.437px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  }
.task-button-levels.active {
  border-radius: 47.656px;
  border: 0.853px solid #B9B9B9;
  background: #463EBB;
  color:white;
  box-shadow: 3.413px 3.413px 12.8px 0px rgba(234, 234, 234, 0.27), -1.312px -1.749px 3.06px 0px rgba(255, 255, 255, 0.15) inset;
}

.chart-details {
  width: 20%;
  height: 20%;
  margin-left: auto;
  padding: 10px 105px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.chart-levels {
  display: flex;
  justify-content: center;
}

.stat-text{
  font-size: 10px;
  font-weight: 400;
  width:100px
}
.det-text{
  font-size: 15px;
  font-weight: 800;
  width:100px
}
.top-chats {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}
.timetakenchart{
  width: 43%;
   height: 43%;
    margin-left: auto;
    margin-right: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
}

@media only screen and (max-width: 768px) {
  .chart-details {
    width:100px;
  height: 100px;
  }
}