.task-level-container {
  width: calc(100vw - 200px);
  height: 100vh;
  /* overflow: hidden; */
}
.task-level-container .button-container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.task-level-container .button-container::-webkit-scrollbar {
  display: none;
}

.task-level-container .button-container button {
  margin-right: 10px;
}

.chart-details {
  width: 250px;
  height: 250px;
}


.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.chart-levels {
  display: flex;
  justify-content: center;
}

.stat-text{
  font-size: 10px;
  font-weight: 400;
  width:100px
}
.det-text{
  font-size: 15px;
  font-weight: 800;
  width:100px
}
.top-chats {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}
