.SinglePercentagePieChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 260px; 
  margin-left:20px ;
  margin-top: 10px;
}

.InnerPieChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.SubInnerPieChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtext-pie {
  position: relative;

  font-family: Inter;
  font-size: 9.328px;
  font-style: normal;
  font-weight: 400;

}

.main-pie {
  position: relative;
  font-family: Inter;
  font-size: 11.4px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 50px;
}
.names{
  margin-right: auto;
  margin-left: 20px;
}

.line {
  background-color: rgb(172, 170, 170);
  width: 160px;
  height: 1px;
  justify-items: left;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.indicator-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px; /* Adjust the margin as needed */
  padding-left: 10px;
  margin-top: 20px;
}

.indicator {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  color: white;
  font-size: 10px;
}

.percentage-indicator {
  margin-right: 5px;
  font-size: 10px;
}

.label {
  font-size: 10px;
}